.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 10px 50px auto 50px 10px;
  grid-template-rows: 10px 50px 12px auto 50px;
  grid-template-areas:
    ". . . . ."
    ". homeAnchor . hamburger ."
    ". . . . ."
    "body body body body body"
    ". . footer . .";
}

.homeAnchor {
  grid-area: homeAnchor;
  img {
    height: 100%;
    width: 100%;
  }
}

.hamburgerPosition {
  grid-area: hamburger;
}

.navMenu {
  grid-area: body;
  visibility: hidden;
  outline: 2px solid lightsteelblue;
  opacity: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  transition: ease-in-out 0.5s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  .navMenuNavSection,
  .navMenuMyInfo {
    align-self: center;
    justify-self: center;
    transform: translateY(50px);
    transition: ease-in-out 0.5s;
    li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    li.social {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    svg {
      margin-right: 0.5em;
    }
  }
}
.navMenu.isOpen {
  visibility: visible;
  opacity: 1;
  .navMenuNavSection,
  .navMenuMyInfo {
    transition: ease-in-out 0.5s;
    transform: translateY(0px);
  }
}
.navMenu.isOpen + .body {
  z-index: -1;
}

.body {
  grid-area: body;
  outline: 2px solid lightsteelblue;
  width: 100%;
  height: 100%;
}
.footer {
  grid-area: footer;
  justify-self: center;
  align-self: center;
  svg {
    margin-right: 0.5em;
  }
}

.backToHome {
  margin: 3rem 0 0;
}

/* Hamburger Animations */
$hamburgerLineHeight: 2px;
.navIcon {
  display: inline-block;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  .hamburger,
  .hamburger:before,
  .hamburger:after {
    border-radius: 1px;
    background-color: #777;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  .hamburger {
    position: relative;
    top: calc(50% - #{$hamburgerLineHeight});
    left: 50%;
    width: 25px;
    height: $hamburgerLineHeight;
    transform: translateX(-50%) translateY(50%);
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s, width 0.5s, top 0.3s;
  }
  .hamburger:before {
    transform: translateY(-9px);
    transform-origin: right top;
  }
  .hamburger:after {
    transform: translateY(9px);
    transform-origin: right bottom;
  }

  svg {
    position: relative;
    top: -$hamburgerLineHeight;

    circle {
      stroke: #777;
      stroke-width: 1;
      fill: transparent;
      transition: stroke-dashoffset 1.2s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    }
  }
}
.navIcon.isOpen {
  transform: rotate(180deg);
  .hamburger {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
  }
  .hamburger:before,
  .hamburger:after {
    width: 50%;
  }
  .hamburger:before {
    transform: rotate(45deg);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.4);
  }
  .hamburger:after {
    transform: rotate(-45deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
  }

  circle {
    stroke-dashoffset: 0;
  }
}
