// Change this to import from a variables.scss file
$globalFontSize: 18px;
$globalTabletFontSize: 16px;
$globalMobileFontSize: 14px;

html,
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  /* Find good replacement here. I'm thinking it should be a serif font, not the sans-serif I was using originaly.*/
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  line-height: 1.6;
  font-size: $globalFontSize;
}
// Override a static 40px padding with a dynamic em padding.
ul {
  padding-inline-start: 1.5em;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  html,
  body {
    font-size: $globalTabletFontSize;
  }
}
@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  html,
  body {
    font-size: $globalMobileFontSize;
  }

  // Override a static 40px padding with a dynamic em padding.
  ul {
    padding-inline-start: 1em;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #55759e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

// Quote block styling. Gives a left gray sidebar and a very light gray background for the quoted element
.quote::before {
  content: "";
  width: 0.5em;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  top: 0;
  left: -0.5em;
}
.quote {
  background-color: rgba(0, 0, 0, 0.05);
  margin-left: 1em;
  padding-left: 0.5em;
  position: relative;
}

/** Page transition css **/
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* .page-transition-enter {
  transform-origin: center top;
  opacity: 0;
  transform: rotate3d(1, 0, 0, -20deg);
}
.page-transition-enter-active {
  opacity: 1;
  transform: rotate3d(1, 0, 0, 0);
  transition: opacity 300ms, transform 500ms;
}
.page-transition-exit {
  opacity: 1;
  transform: scale(1);
}
.page-transition-exit-active {
  opacity: 0;
  transform: scale(0.7) rotateZ(20deg);
  transition: opacity 500ms, transform 500ms;
} */

/* .page-transition-enter {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}
.page-transition-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 300ms, transform 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
} */
